/* Univseral Selectors */

/* Element Selectors */

body {
    background-image: url("../images/beach-background-landscape.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 66%;
    margin: auto;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
    background-color: rgb(0, 0, 63);
    background-image: radial-gradient(circle, black, blue, white);
    /* background-image: linear-gradient(-45deg, rgb(0, 0, 180), blue, rgb(67, 67, 216), rgb(94, 94, 174), rgb(67, 67, 216), blue, rgb(0, 0, 180), black); */
    /* background-size: 125% 125%; */
    animation: header alternate 5s ease infinite;
    min-height: 100vh;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 50vh;
}

/* title takes up 50% of header and nav takes up 50% of header */
header nav {
    margin-right: 3%;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    padding: 1em;
    font-size: 1.5em;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
}

section {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    min-height: 100vh;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 50vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    min-height: 10vh;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 2vh;
}

footer h3 {
    font-size: 300%;
    font-weight: 900;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer ul li {
    list-style: none;
    padding: 1em;
    background-color: black;
    border-radius: 10px;
    margin: 1em;
    font-weight: bold;
    font-size: 1em;
    position: relative;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li:hover {
    transition: 0.5s;
    background-color: #AAA;
    color: black;
}

footer ul li:not(:hover) {
    transition: 0.5s;
}


/* Class Selectors */

.sectionContent {
    width: 67%;
    margin: 12px;
    padding: 12px;
    border-left: solid 3px black;
    font-size: large;
}

.sectionTitle {
    width: 33%;
    text-align: center;
    margin: 12px;
    font-size: 32px;
    font-weight: bold;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectDiv h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 12px;
    text-align: center;
    width: 70%;
}

.projectDiv p {
    font-size: 18px;
    margin: 12px;
    text-align: center;
    width: 70%;
}

.projectDiv img {
    object-fit: cover;
}

/* Id Selectors */

/* title takes up 50% of header and nav takes up 50% of header */
#title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

#aboutMe .sectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutMe figure {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
}

#aboutMe figure figcaption{
    font-size: 18px;
    text-align: center;
    margin: auto;
    font-weight: 600;
}

#aboutMe figure div {
    width: 70%;
    position: relative;
    z-index: 1;
    padding: 0;
    margin-bottom: 1em;
}

#aboutMe figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#aboutMe p {
    margin-left: 12px;
}


#myWork .sectionContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#myWork .sectionContent img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: auto;
}

#myWork .sectionContent a {
    position: relative;
    z-index: 1;
    width: 50%;
}

#myWork .sectionContent #mainWorkImage {
    position: relative;
    z-index: 1;
    width: 90%;
}

#aboutMe figure div::before,
#myWork .sectionContent a::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background-image: linear-gradient(-45deg, rgb(0, 0, 180), blue, rgb(67, 67, 216), rgb(94, 94, 174), rgb(67, 67, 216), blue, rgb(0, 0, 180), black);
    background-size: 150% 150%;
    animation: gradient 3s ease infinite;
    z-index: -1;
    border-radius: 10px;
}

#myWork .sectionContent a:hover::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(128, 128, 128, 0.454);
    color: black;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#linkedIn:focus::after,
#linkedIn:hover::after {
    content: "LinkedIn Profile is coming soon!";
    position: absolute;
    border: solid 1px black;
    padding: 1em;
    top: -1em;
    left: -1em;
    width: 100%;
    height: 100%;
}

#linkedIn:hover,
#linkedIn:focus {
    background-color: transparent;
}

/* media queries */

@media screen and (max-width: 1400px) {
    section {
        flex-direction: column;
    }

    .sectionContent {
        border-top: solid 3px black;
        padding: 4%;
        border-left: none;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (max-width: 768px) {
    /* Make mobile friendly */
    /* #aboutMe img {
        width: auto;
        height: 200px;
    } */

    body {
        width: 95vw;
        margin: auto;
    }

    footer ul {
        flex-flow: column wrap;
    }
}

/* Keyframes Animations */

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes header {
    0% {
        background-size: 100% 100%;
        background-position: center;
    }
    50% {
        background-size: 150% 150%;
        background-position: center;
    }
    100% {
        background-size: 200% 200%;
        background-position: center;
    }
  }







