/* Variables */
:root {
    --light: #ffffff;
    --dark: #000000;
}


/* Univseral Selectors */
* {
    list-style: none;
    text-decoration: none;
    object-fit: cover;
}


/* Element Selectors */

/* paralax scrolling */
body {
    background-image: url("../images/beach-background-landscape.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 66vw;
    margin: auto;
}

/* header 1st title */
h1 {
    text-align: center;
    color: var(--light);
    font-weight: bold;
    font-size: 4rem;
}

/* header 2nd title */
h2 {
    text-align: center;
    color: var(--light);
    font-weight: bold;
    font-size: 3rem;
}

/* project titles in myWork section */
h4 {
    text-align: center;
    color: var(--dark);
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1em;
    text-align: center;
    color: var(--dark);
}

/* this sets the img size to fill 100% of the div its in */
img {
    width: 100%;
    border-radius: 10px;
}

/* image captions */
figure figcaption {
    font-weight: bold;
}

/* remove standard padding on ul */
ul {
    padding-left: 0;
}

/* Background gradient for header */
/* Has a dark blue background if gradient fails */
header {
    background-color: rgb(0, 0, 63);
    background-image: radial-gradient(circle, black, blue, white);
    animation: header alternate 5s ease infinite;
}

/* Header & footer anchor tags */
footer ul li a,
header nav ul li a {
    color: var(--light);
    font-size: 1.5rem;
    margin: 1em;
}

/* Footer */
footer {
    background-color: var(--light);
    min-height: 10vh;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 2vh;
}

/* Footer Contact Buttons */
footer ul li {
    position: relative;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    padding: 0.5em;
    margin: 0.5em;
}

/* Footer Contact Button animation */
footer ul li:hover {
    transition: 0.5s;
    background-color: #AAA;
    color: black;
}

/* Footer Contact Button animation */
footer ul li:not(:hover) {
    transition: 0.5s;
}


/* Class Selectors */

/* 
creates a white card in which you put content and a title
uses .cardTitle and .cardContent as children classes 
part of paralax scrolling 
*/
.card {
    min-height: 100vh;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

/* 
child class to .card
put card title in here
*/
.cardTitle {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 33%;
}

/* 
child class to .card
put card content in here
*/
.cardContent {
    width: 67%;
    margin: 1em;
    padding: 1em;
    border-left: solid 3px black;
    font-size: large;
}

/* creates flex row container with centered elements */
.flexRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* creates flex column container with centered elements */
.flexColumn {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Id Selectors */

/* making aboutMe picture responsive and setting position to relative for use by gradient border */
#aboutMe figure div {
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
}

/* Sets myWork image width and setting position to relative for use by gradient border */
#myWork .cardContent a {
    position: relative;
    z-index: 1;
    width: 50%;
}

/* Sets the main image in the myWork section to be larger than the rest */
#myWork .cardContent #mainWorkImage {
    position: relative;
    z-index: 1;
    width: 90%;
}

/* creates an animated gradient border around images */
#aboutMe figure div::before,
#myWork .cardContent a::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background-image: linear-gradient(-45deg, rgb(0, 0, 180), blue, rgb(67, 67, 216), rgb(94, 94, 174), rgb(67, 67, 216), blue, rgb(0, 0, 180), black);
    background-size: 150% 150%;
    animation: gradient 3s ease infinite;
    z-index: -1;
    border-radius: 10px;
}

/* creates a semi transparant grey overlay over project images when the user hovers over them */
#myWork .cardContent a:hover::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(128, 128, 128, 0.454);
    color: black;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* creates a popup when user hover or selects the linkedin a */
#linkedIn:focus::after,
#linkedIn:hover::after {
    content: "LinkedIn Profile is coming soon!";
    position: absolute;
    border: solid 1px black;
    padding: 1em;
    top: -1em;
    left: -1em;
    width: 100%;
    height: 100%;
}

/* turns button transparaent so popup isnt blocked */
#linkedIn:hover,
#linkedIn:focus {
    background-color: transparent;
}

/* media queries */

/* Tablet screen size */
@media screen and (max-width: 768px) {

    body {
        width: 95vw;
        margin: auto;
    }

    .flexRow {
        flex-direction: column;
    }
}

/* phone screen size */
@media screen and (max-width: 480px) {
    .card {
        flex-flow: column wrap;
    }

    .cardContent {
        border-left: none;
        border-top: solid black 3px;
    }
}

/* Keyframes Animations */

/* border gradient animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* header animation */
@keyframes header {
    0% {
        background-size: 100% 100%;
        background-position: center;
    }
    50% {
        background-size: 150% 150%;
        background-position: center;
    }
    100% {
        background-size: 200% 200%;
        background-position: center;
    }
}







